* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    padding: 20px;
}

/* .container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
} */

.header {
    background-color: #0c0c0c;
    color: white;
    padding: 30px 0 60px;
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.icons img {
    width: 20px; 
    height: 20px;
}


.hero-content {
    margin-top: 30px;
}

.text_main{
    font-size: 1.5em;
    font-weight: bold;
    gap: 10px; 
}

.div_main{
    display: flex;
    align-items: center; 
    gap: 10px;
    
}


.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.1em;
    margin-bottom: 20px;
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-icon {
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px 0 0 5px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    padding: 10px;
    width: 250px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-bar button {
    padding: 10px 20px;
    background-color:  #0080ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.brand-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.brands {
    padding: 40px 0;
    text-align: center;
    display: flex;
    width: 100%;
}

.brand-item {
    display: inline-block;
    margin: 0 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
    background-color: #dcdcdc;
}

.text_foto {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.text {
    text-align: left; 
    max-width: 155px;
}

.text p {
    margin: 0; 
}
.text_bolt{
    font-weight: bold;
}

.products {
    padding: 40px 0;
    text-align: center;
}

.products h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 180px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card h3 {
    font-size: 1.1em;
    margin: 10px 0;
}

.old-price {
    text-decoration: line-through;
    color: #999;
    font-size: 0.9em;
}

.price {
    color: #4CAF50;
    font-size: 1.2em;
    font-weight: bold;
}

.view-more {
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #0080ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
}

.lupa{
    width: 15px;
}